.recipe-edit {
    padding: 30px;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    max-height: 100%; //so it never go beyond the height
    overflow-y: auto; // set the scroll bar if it explands half the entire 
    //height of the page
}